<html>
<head>
	<title>Zapisy na kursy</title>
</head>
<body>
    Dostępne kursy:
    <table>
        <tr><td>Nazwa</td><td>Opis</td><td>Wolnych miejsc</td><td>Zapisz się</td></tr>
        {% for k in kursy %}
        <tr><td>{{ k.nazwa}}</td><td>{{k.opis}}</td><td>{{k.wolne}} z {{k.miejsca}}</td><td>
                {% if k.wolne %}
                    {% if user.is_authenticated %}
                    <form method='post'>
                        {% csrf_token %}
                        <input type='hidden' name='kurs_id' value='{{k.pk}}'>
                        {% if user in k.osoby.all %}
                            <input type='hidden' name='action' value='wypisz'>
                            <input type='submit' value='Wypisz się'>
                        {% else %}
                            <input type='hidden' name='action' value='zapisz'>
                            <input type='submit' value='Zapisz się*'>
                        {% endif %}
                    </form>
                    {% else %}
                    <a href='/user/'>Zaloguj sie</a>
                    {% endif %}
                {% endif %}
            </td></tr>
        {% endfor %}
    </table>
    *Wypisuje z innych zapisanych kursów<br/>
</body>
</html>
