{% extends 'base.html' %}
{% block content %}
    Jesteś zalogowany jako: {{user.email}}<br/>
	<p>
	<form method='post' action='/user/preferencje/'>
		<strong>Jeśli masz jakieś preferencje mieszkaniowe, wpisz z kim chciał(a)byś mieszkać:</strong><br/>
		{% csrf_token %}
		<textarea name='preferencje'>{{pref}}</textarea></br>
		<input type='submit' value='Zapisz'>
	</form>
	</p>
    Dostępne kursy:<br/>
    *Wypisuje z innych zapisanych kursów o danej godzinie<br/>
    <table>
    {% for t in terminy %}
    <tr><th colspan=4>{{ t.date|date:"D d M Y, G:i" }}</th></tr>
            <tr><th>Nazwa</th><th>Miejsce</th><th>Wolnych miejsc</th><th>Zapisz się</th></tr>
            {% for k in t.kurs_set.all %}
			<tr><td title="{{k.opis}}">
                    {% if user.is_staff %}
                    <a href='/kursy/lista/{{k.pk}}'>
                    {% endif %}
					<strong>{{ k.nazwa}}</strong>
                    {% if user.is_staff %}
                    </a>
                    {% endif %}
					</td><td>{{k.miejsce}}</td>

                    <td>{{k.wolne}} z {{k.miejsca}}</td><td>
                    {% if k.wolne %}
                        {% if user.is_authenticated %}
                        <form method='post'>
                            {% csrf_token %}
                            <input type='hidden' name='kurs_id' value='{{k.pk}}'>
                            {% if user in k.osoby.all %}
                                <input type='hidden' name='action' value='wypisz'>
                                <input type='submit' value='Wypisz się'>
                            {% else %}
                                <input type='hidden' name='action' value='zapisz'>
                                <input type='submit' value='Zapisz się*'>
                            {% endif %}
                        </form>
                        {% else %}
                        <a href='/user/'>Zaloguj sie</a>
                        {% endif %}
                    {% endif %}
                </td></tr>
            {% endfor %}
    {% endfor %}
    </table>
	<a href='/user/logout'>Wyloguj</a>
{% endblock %}
