{% extends 'base.html' %}
{% block content %}
    Jesteś zalogowany jako: {{user.email}}<br/>
    Dostępne kursy:<br/>
    <table>
    {% for t in terminy %}
    <tr><th colspan=4>{{ t.date|date:"D d M Y, G:i" }}</th></tr>
            <tr><th>Nazwa</th><th>Opis</th><th>Wolnych miejsc</th><th>Zapisz się</th></tr>
            {% for k in t.kurs_set.all %}
            <tr><td>
                    {% if user.is_staff %}
                    <a href='/kursy/lista/{{k.pk}}'>
                    {% endif %}
                    {{ k.nazwa}}</td><td>{{k.opis}}</td>
                    {% if user.is_staff %}
                    </a>
                    {% endif %}

                    <td>{{k.wolne}} z {{k.miejsca}}</td><td>
                    {% if k.wolne %}
                        {% if user.is_authenticated %}
                        <form method='post'>
                            {% csrf_token %}
                            <input type='hidden' name='kurs_id' value='{{k.pk}}'>
                            {% if user in k.osoby.all %}
                                <input type='hidden' name='action' value='wypisz'>
                                <input type='submit' value='Wypisz się'>
                            {% else %}
                                <input type='hidden' name='action' value='zapisz'>
                                <input type='submit' value='Zapisz się*'>
                            {% endif %}
                        </form>
                        {% else %}
                        <a href='/user/'>Zaloguj sie</a>
                        {% endif %}
                    {% endif %}
                </td></tr>
            {% endfor %}
    {% endfor %}
    </table>
    *Wypisuje z innych zapisanych kursów<br/>
	Jeśli masz jakieś preferencje mieszkaniowe, wpisz z kim chciał(a)byś mieszkać:
	<form method='post' action='/user/preferencje/'>
		{% csrf_token %}
		<input type='text' name='preferencje' value='{{pref}}'>
		<input type='submit' value='Zapisz'>
	</form>
	<a href='/user/logout'>Wyloguj</a>
{% endblock %}
